body{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  background-size: cover;
  background-position: center;
  overflow: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
:root {
  --dark-color: #537b3f;
  --light-color: #fdfffc;
  --accent-color: #7fa154;
}
li{
  list-style: none;
}
header a{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}
a:hover{
  color: var(--accent-color);
}

header{
  position: relative;
  padding: 0 2rem;
  z-index: 111111;
  width: 100%;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo img{
  width: 100px;
}
.navbar a{
  font-size: 15px;
  font-weight: 600;

}
.navbar .links{
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn{
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}
.navbar .menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.action_btn{
  background-color: var(--accent-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.action_btn:hover{
  scale: 1.1;
  transition: 0.2s;
  color: #fff;
}
.action_btn:active{
  scale: 0.95;
}
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  height: 0;
  width: 300px;
  background: rgba(137, 137, 137, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.dropdown_menu.open{
  height: 320px;
}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}
footer {
  background-color: #7fa154;
  color: white;
}
.formSearch {
  border-radius: 20px;
  border: 0px;
  height: 40px;
}

.btnSearch {
  background-color: #537b3f;
  border-color: #7fa154;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 0px;
}

.btnSearch:hover {
  background-color: #3e4f29;
  border-color: #3e4f29;
  border: 0px;
}
@media(max-width: 850px){
  .navbar .links, .navbar .action_btn{
      display: none;
  }
  .navbar .toggle_btn{
      display: block;
      font-size: 60px;
      color: #fff;
  }
  .dropdown_menu{
      display: block;
      color: #fff;
  }
}
@media(max-width: 530px){
  .dropdown_menu{
      left: 2rem;
      width: unset;
      color: #fff;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container1 a {
  color: var(--dark-color);
  text-decoration: none;
}

.container1 {
  max-width: 100vw;
  margin-inline: auto;
  padding: 20px 30px;
  height: auto;
}

.btn {
  background: var(--accent-color);
  color: var(--light-color);
  padding: 8px 32px;
  border: 2px solid var(--accent-color);
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn:hover {
  background: var(--dark-color);
  border: 2px solid var(--dark-color);;
}

.btn.outlined {
  color: var(--accent-color);
  background: var(--light-color);
}

.btn.outlined:hover {
  background: var(--accent-color);
  color: #fff;
}

.btn.light {
  background: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--light-color);
}

.btn.light:hover {
  background: var(--accent-color);
  color: var(--light-color);
}

img {
  width: 100%;
  display: flex;
  object-fit: cover;
}

.container1 h1 {
  font-size: 60px;
  line-height: 100%;
  font-weight: 800;
  letter-spacing: -1px;
  margin: 16px 0;
  background: linear-gradient(90deg, var(--accent-color) 20%, var(--dark-color) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container1 h2 {
  font-size: 36px;
  line-height: 120%;
  font-weight: 800;
  letter-spacing: -1px;
  margin: 8px 0;
  background: linear-gradient(90deg, var(--accent-color) 8%, var(--dark-color) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container1 h3 {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1px;
  margin: 8px 0;
}

.container1 p {
  font-size: 16px;
  line-height: 160%;
}

/* About section */

#about {
  background: #f5f5f5;
  margin-top: 0;
  padding-top: 50px;
}

#about .container1 {
  display: flex;
  align-items: center;
  gap: 80px;
}

section .icon {
  width: 30px;
}

.features-container1 {
  display: flex;
  gap: 40px;
  margin-top: 32px;
}

.feature {
  flex: 1;
}

section .btn {
  margin: 20px 0;
}

/* Services section */

section .heading-container1 {
  max-width: 500px;
  text-align: center;
  margin-bottom: 60px;
  margin-inline: auto;
  padding-top: 50px;
}

.services-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

.services-container1 .service {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease;
}

.services-container1 .content {
  padding: 16px;
}

.services-container1 .service:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 80px rgba(0, 0, 0, 0.1);
}

/* Blog section */

.labels a {
  color: var(--light-color);
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.label {
  background: var(--accent-color);
  padding: 3px 6px;
  border-radius: 4px;
}

/* Hidden elements */

@media (max-width: 1100px) {
  .container1 h1 {
    font-size: 48px;
  }
  .container1 p {
    color: #000;
  }
  .section-hero .right img {
    width: 280px;
  }
}

 @media (max-width: 800px) {
 /*.mobile-menu-items {
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    flex-direction: column;
    background: var(--dark-color);
    z-index: 800;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transform: translateX(100%);
    transition: all 300ms ease;
  }

  .mobile-menu-items.active {
    transform: translateX(0);
  }

  .mobile-menu-items a {
    color: var(--light-color);
  }

  .mobile-menu-items .close-icon {
    filter: brightness(0) invert(1);
    position: fixed;
    top: 18px;
    right: 32px;
    cursor: pointer;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 2px;
  }



  /* Header */

  /* .section-hero .right {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .section-hero {
    flex-direction: column-reverse;
    height: auto;
    gap: 20px;
    max-height: fit-content;
    padding-bottom: 60px;
  }

  .section-hero .right img {
    width: 70%;
    height: auto;
    border-radius: 0 0 30% 30%;
  }

  .section-hero .left {
    max-width: 100%;
  } */

  /* Featured */
  .container h1 {
    font-size: 36px;
    line-height: 120%;
  }

  .container1 {
    max-width: 700px;
  }

  .container1 h2 {
    font-size: 28px;
    line-height: 130%;
  }

  .container1 h3 {
    font-size: 20px;
    color: var(--dark-color);
  }
  /* .container1 p {
    color: #000;
  } */

  .featured .logos {
    gap: 36px;
  }

  .featured img {
    height: 28px;
  }

  /* About */

  #about .container1 {
    flex-direction: column;
    color: var(--dark-color);
  }

}

/* Blog List page */

.post-container1 .container1 {
  margin-top: 100px;
  padding: 40px 32px;
  margin-bottom: 60px;
  box-shadow: 0 8px 42px rgba(0, 0, 0, 0.1);
  padding-bottom: 60px;
  display: flex;
  gap: 40px;
  color: #000;
}

.post-container1 h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.blog-list .card {
  display: flex;
  align-items: center;
}

.blog-list .card img {
  height: 160px;
  width: 240px;
}

.blog-list .blog-list-content {
  padding: 0 24px;
}

.blog-list .cards-container1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Sidebar */

aside {
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

aside h3 {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 12px 24px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

aside a {
  line-height: 1.7;
}

aside .widget-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

aside .popular-posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

aside .popular-posts .card {
  display: flex;
  align-items: center;
  gap: 16px;
}

aside .popular-posts img {
  width: 60px;
  height: 60px;
}

aside .categories-list .widget-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

aside .categories-list .label {
  color: var(--light-color);
  font-size: 13px;
}

aside .download-btn {
  background: #ff385c;
  padding: 8px 24px;
  color: var(--light-color);
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: inline-block;
}

@media (max-width: 1000px) {
  .post-container1 .container1 {
    flex-direction: column;
  }

  .post-container1 .blog-list .card img {
    width: 100%;
  }

  aside {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .post-container1 .container1 {
    margin-top: 60px;
  }
}

/* Single Post */

.post-container1 .content {
  flex: 1;
}

.breadcrumbs {
  background: #f3f3f3;
  width: fit-content;
  font-size: 14px;
  padding: 0 24px;
  line-height: 1.8;
  margin-bottom: 24px;
  border-radius: 4px;
}

.post-heading {
  font-size: 40px;
  line-height: 120%;
}

.post-meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-container1 .thumbnail {
  margin-top: 32px;
}

.post-container1 .post-body {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #dbdbdb;
}

.post-container1 .recent-posts-container1 h3 {
  font-size: 20px;
}

@media (max-width: 800px) {
  .post-heading {
    font-size: 36px;
  }
}

/* 404 page */

.not-found.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found.container1 .left,
.not-found.container1 .right {
  flex: 1;
}

.not-found.container1 .left img {
  height: 300px;
  width: auto;
}

.not-found.container1 .left {
  display: flex;
  justify-content: center;
}

.text-404 {
  font-size: 180px;
  font-weight: 800;
  line-height: 100%;
}

.not-found.container1 p {
  margin: 8px 0;
}

.not-found.container1 h4 {
  font-size: 20px;
}

.not-found.container1 ul li {
  margin: 8px 0;
  text-align: left;
}

.not-found.container1 a {
  text-decoration: underline;
  color: var(--accent-color);
}

@media (max-width: 1000px) {
  .not-found.container1 .right {
    max-width: 500px;
    text-align: center;
  }

  .not-found.container1 .left img {
    height: 240px;
  }

  .not-found.container1 .text-404 {
    font-size: 120px;
  }
}

/* Search box */

/* .search-icon svg {
  width: 24px;
} */

.search-icon {
  cursor: pointer;
}

.search-container1 {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  padding: 32px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 800;
  backdrop-filter: blur(8px);
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease;
}

.search-container1.active {
  opacity: 1;
  pointer-events: auto;
}

.search-container1 input[type="text"] {
  width: 700px;
  border-radius: 8px;
  font-size: 20px;
  padding-block: 16px;
  border: none;
  padding-left: 60px;
  padding-right: 70px;
}

.search-container1 .search-input-container1::after {
  content: "Esc";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  font-size: 13px;
  padding: 4px 8px;
  background: rgba(187, 187, 187, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.search-container1 input[type="text"]:focus {
  outline: none;
}

.search-container1 .search-input-container1 {
  position: relative;
}

.search-container1 .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
}

.search-container1 .icon svg {
  width: 24px;
}

.search-container1 .search-btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: var(--light-color);
  border-radius: 8px;
  width: fit-content;
}

@media (max-width: 1000px) {
  .search-container1 form {
    width: 100%;
  }

  .search-container1 input[type="text"] {
    width: 100%;
    font-size: 18px;
  }

  .search-container1 .search-input-container1::after {
    display: none;
  }
}

/* @media (max-width: 800px) {
  .mobile-icons-container1 {
    display: flex;
    gap: 24px;
  }
} */
